sphinx==3.5.4

# Theme
furo==2021.6.18b36                      # sphinx-theme

# Extensions
sphinx-inline-tabs==2021.3.28b7         # allow inline tab
sphinx-jinja==1.1.0                     # allow jinja2 template
sphinx-copybutton==0.2.5                # add copy to clipboard button for code block
docfly==0.0.18                          # auto API manual, auto Table of Content
rstobj==0.0.7                           # generate list table from data

# Other

Pygments==2.9.0                         # live RestructuredText preview
